[user]
	name = Mike Ambrozaitis
	email = 10839603+mambroz27@users.noreply.github.com
[init]
	defaultBranch = main
[global]
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
